POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=todo_db

DATABASE_URL=postgresql://user:password@postgres:5432/todo_db

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin